<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:inline="text">Hulk Store App - Registrarse  [[${@environment.getProperty('hulkstoreapi.version')}]]</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" th:href="@{dist/bootstrap-4.0.0/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/dist/css/login.css}">
	<link rel="icon" th:href="@{/dist/images/hulklogo.png}" type="image/png">
	<script th:src="@{/dist/bootstrap-4.0.0/js/bootstrap.js}"></script>
	<script th:src="@{/dist/jquery/dist/jquery.js}"></script>
	<script th:src="@{/dist/bootstrap-4.0.0/js/bootstrap-notify.js}"></script>
	<script th:src="@{/dist/js/message.js}"></script>
	<script th:src="@{/dist/js/login.js}"></script>
	<script th:src="@{/dist/js/sign-up.js}"></script>
	
</head>
<body class="text-center">
	<form id="form-sign-up" class="form-signin" th:action="@{/createUser}" method="post">
		<img class="mb-4" th:src="@{/dist/images/hulklogo.png}" alt="" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Please Sign Up!</h1>
		<label for="inputId" class="sr-only">Id</label>
		<input type="text" name="id" value="0" class="invisible form-control" placeholder="Id">
		<label for="inputName" class="sr-only">Name</label>
		<input type="text" name="name" class="form-control" placeholder="Name" required="required">
		<label for="inputLastName" class="sr-only">Last Name</label>
		<input type="text" name="lastName" class="form-control" placeholder="Last Name" required="required">
		<label for="inputAge" class="sr-only">Age</label>
		<input type="text" name="age" class="form-control" placeholder="Age" required="required">
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" name="email" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"> 
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password" required="required">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		<a th:href="@{/login}">Sing In</a>
    </form>
	<input th:if="${accept} != null" class="invisible" id="accept" th:value="${accept}"/>
	<input th:each="danger : ${dangers}" class="invisible dangers" th:value="${danger}"/>
	<input th:if="${success} != null" class="invisible" id="logout" th:value="${success}"/>
	<input th:if="${error} != null" class="invisible" id="error" th:value="${error}"/>	
</body>
</html>