<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:inline="text">Hulk Store App - Productos [[${@environment.getProperty('hulkstoreapi.version')}]]</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" th:href="@{dist/bootstrap-4.0.0/css/bootstrap.css}">
	<script th:src="@{dist/bootstrap-4.0.0/js/bootstrap.js}"></script>
	<script th:src="@{dist/jquery/dist/jquery.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hulk Store Api">
    <meta name="author" content="Andres Gonzalez">
</head>
<body>
	<div class="navbar navbar-expand-lg">
		<p>© 2021 Hulk Store Api v[[${@environment.getProperty('hulkstoreapi.v')}]]</p>
	</div>
    <nav class="navbar navbar-expand-xl navbar-light bg-light rounded" role="navigation">
      <div class="container">
        <div class="navbar-header">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link active" th:href="@{/home}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/products}">Productos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/sales}">Vender</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/buys}">Comprar</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/kardex}">Kardex</a></li>
			</ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<form class="form-inline my-2 my-md-0" th:action="@{/logout}" method="post">
				<button class="btn btn-primary btn-block" type="submit">Sign Out</button>
			</form>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-xl navbar-light bg-light rounded" role="navigation">
      <div class="container">
        <div class="navbar-header">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link active" th:href="@{/searchProducts}">Buscar</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/allProducts}">Todos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/newProducts}">Nuevo</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/deleteProducts}">Eliminar</a></li>
			</ul>
        </div>
      </div>      
    </nav>
	<form id="form-sign-up" class="form-signin" th:action="@{/new}" method="post">
		<h1 class="h3 mb-3 font-weight-normal">Ingrese nuevo producto!</h1>
		<label for="inputDescription" class="sr-only">Descripcion</label>
		<input type="text" name="description" class="form-control" placeholder="Descripcion">
		<label for="inputStock" class="sr-only">Stock</label>
		<input type="text" name="stock" class="form-control" placeholder="Stock">
		<label for="inputPrice" class="sr-only">Precio</label>
		<input type="text" name="price" class="form-control" placeholder="Precio">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
    </form>
	<input th:if="${accept} != null" class="invisible" id="accept" th:value="${accept}"/>
	<input th:each="danger : ${dangers}" class="invisible dangers" th:value="${danger}"/>
	<input th:if="${success} != null" class="invisible" id="logout" th:value="${success}"/>
	<input th:if="${error} != null" class="invisible" id="error" th:value="${error}"/>	
       
</body>
</html>